/* CSS For Krampus Tech */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body{
    background-color: black;
}

h1{
    font-family: "Uncial Antiqua", system-ui;
    font-size: 2.5rem;
    color:darkred;
}

label{
    font-family: "Uncial Antiqua", system-ui;
    font-size: 1.5rem;
    color:darkred;
}